
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-size: 16px;
    /*1 rem = 10px*/
    font-family: 'Source Sans Pro', sans-serif;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
